

.footer {
    background-color: #c9cdcbdc;
    height: min-content;

}

.footer-container {
    padding: 5rem 0 3.5rem 0;
}

.footer-img {
    display: block;
    padding: 0.8rem 0 0.8rem 0;
    width: 70%;
    margin: 0 auto 0 auto;
}

.footer-about {
    display: inline-block;
    margin: 1rem auto 1rem auto;
}

.footer-link {
    color: black;
    font-size: 0.8vw;
    font-weight: 600;
}

.hiddenCard {
    display: none;
}

.hiddenCarousel {
    position: relative;
}

.carousel .carousel-indicators button {
   width: 10px;
   height: 10px;
   border-radius: 100%;
}

.indicator-button {
    position: absolute;
    bottom: -5.5vw;
}

@media only screen and (max-width: 1024px) {
    .radio-box {
        width: 35vw;
    }

    hr {
        margin: 0.08rem auto 0 auto;
        width: 45vw;
    }
}

@media only screen and (max-width: 768px) {
    .radio-box {
        width: 45vw;
    }

    .form-check {
        font-size: 2vw;
        margin: 0;
    }

    hr {
        margin: 0.08rem auto 0 auto;
        width: 55vw;
    }

    .booking > p {
        font-size: 3vw;
    }

    .drop-down {
        font-size: 3vw;
    }

    .card {
        height: 15vw;
    }

    .card-title, .card-desc {
        font-size: 2vw;
    }

    .shownCard {
        display: none;
    }

    .hiddenCard {
        display: block;
    }

}

@media only screen and (max-width: 430px) {

    .radio-box {
        width: 80vw;
        margin: 0 auto 0 auto;
    }

    .form-check {
        font-size: 2.5vw;
        margin: 0;
    }

    hr {
        width: 90vw;
        margin: 0 auto 0 auto;
    }

    .booking > p {
        font-size: 3.5vw;
    }

    .drop-down {
        font-size: 3.5vw;
    }

    .card {
        height: 15vw;
    }

    .card-title, .card-desc {
        font-size: 2.5vw;
    }

}